/*************** globals ***************/

@use "variables" as v;
@use "mixins" as m;

html {
  font-size: 62.5%; /* font-size base a nivel de html */
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-size: 16px; /* font-size base a nivel del documento */
  font-family: v.$noto-sans-jp;
  color: v.$black;
  background-color: v.$bg-light-mode; /* fondo inicial */
  transition: 0.7s ease all;
  padding: 1rem 0;

  &.fixed-body {
    overflow: hidden; /* inmoviliza el body después de amplificar una imagen de la galería */
  }

  &.dark {
    /* dark mode */
    color: v.$white;
    background-color: v.$bg-dark-mode;
  }
}

::-webkit-scrollbar {
  width: 0.8rem;

  &-thumb {
    background: #f2f2f2;
    border-radius: 1.2rem;

    &:hover {
      background: #828282;
    }
  }
}

p {
  margin: 0;
  font-size: 1.2rem;
  line-height: 1.2rem;
  font-family: v.$ubuntu-mono;
}

ul {
  margin: 0;
  li {
    font-size: 1.6rem;
    line-height: 1.6rem;
    font-family: v.$noto-sans-jp;
  }
}

.container {
  width: 95%;
  max-width: 120rem;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  margin: 0 0 0 0;
  font-family: v.$poppins;
}

h1 {
  font-size: 2.4rem;
  //text-shadow: 4px 4px 11px rgba(0,0,0,0.24);
}

h2 {
  font-size: 2.4rem;
  //text-shadow: 4px 4px 11px rgba(0,0,0,0.24);
}

h3 {
  font-size: 1.8rem;
}

h4 {
  font-size: 1.6rem;
}

img {
  max-width: 100%;
  width: 100%;
  height: auto;
  display: block;
}

/* @include m.prefer-dark-mode; */
